.background
    = partial 'partials/header'

    %h1 Hello World!

    %p I am Gregory Kallai Junior Software developer and this is my Portfolio website

    %p Navigating on the tabs you can see my main projects and get to know me better

    %p The main technologies I work with:

    .images
        - data.logos.each do |logo|
            %img.github(src="#{logo[:logo]}" alt="no image")/


.projects
    -data.projects.each do |project|
        .projectcard
            %img.projectimage(src="#{project[:picture]}" alt="")/
            %h2= project[:name]
            %a(href="#{project[:github]}" target="_blank")
                %img.links(src="images/github2.png" alt="no image")/
            -if project[:website] != nil
                %a(href="#{project[:website]}" target="_blank")
                    %img.links(src="images/website.png" alt="no image")/
            %p= project[:description]
            %p Technologies:
            .linklogos
                -project[:technologies].each do |logo|
                    %img(src="#{logo}" alt="no image")/
