= partial 'partials/header'

.projects
    -data.projects.each do |project|
        %h2= project[:name]
        %p= project[:description]
        %p
            = link_to 'Repo', "#{project[:github]}"
        -if project[:website] != nil
            = link_to 'Website', "#{project[:website]}"
