= partial 'partials/header'

.projects
    -data.projects.each do |project|
        %h2= project[:name]
        %p= project[:description]
        %p= project[:github]
        %p
            = button_to 'Repo', "#{project[:github]}"
            = link_to 'Repo', "#{project[:github]}"